.Container {
    font-size: 12px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

.background_color_red {
    background: #f44336 !important;
}
.color_red {
    color: #f44336 !important;
}
.color_red {
    color: #f44336 !important;
}
.border_color_red {
    border-color: #f44336 !important;
}

.background_color_pink {
    background: #e91e63 !important;
}
.color_pink {
    color: #e91e63 !important;
}
.border_color_pink {
    border-color: #e91e63 !important;
}

.background_color_purple {
    background: #9c27b0 !important;
}
.color_purple {
    color: #9c27b0 !important;
}
.border_color_purple {
    border-color: #9c27b0 !important;
}

.background_color_deeppurple {
    background: #673ab7 !important;
}
.color_deeppurple {
    color: #673ab7 !important;
}
.border_color_deeppurple {
    border-color: #673ab7 !important;
}

.background_color_indigo {
    background: #3f51b5 !important;
}
.color_indigo {
    color: #3f51b5 !important;
}
.border_color_indigo {
    border-color: #3f51b5 !important;
}

.background_color_blue {
    background: #2196f3 !important;
}
.color_blue {
    color: #2196f3 !important;
}
.border_color_blue {
    border-color: #2196f3 !important;
}

.background_color_lightblue {
    background: #03a9f4 !important;
}
.color_lightblue {
    color: #03a9f4 !important;
}
.border_color_lightblue {
    border-color: #03a9f4 !important;
}

.background_color_cyan {
    background: #00bcd4 !important;
}
.color_cyan {
    color: #00bcd4 !important;
}
.border_color_cyan {
    border-color: #00bcd4 !important;
}

.background_color_teal {
    background: #009688 !important;
}
.color_teal {
    color: #009688 !important;
}
.border_color_teal {
    border-color: #009688 !important;
}

.background_color_green {
    background: #4caf50 !important;
}
.color_green {
    color: #4caf50 !important;
}
.border_color_green {
    border-color: #4caf50 !important;
}

.background_color_lightgreen {
    background: #8bc34a !important;
}
.color_lightgreen {
    color: #8bc34a !important;
}
.border_color_lightgreen {
    border-color: #8bc34a !important;
}

.background_color_lime {
    background: #cddc39 !important;
}
.color_lime {
    color: #cddc39 !important;
}
.border_color_lime {
    border-color: #cddc39 !important;
}

.background_color_yellow {
    background: #ffeb3b !important;
}
.color_yellow {
    color: #ffeb3b !important;
}
.border_color_yellow {
    border-color: #ffeb3b !important;
}

.background_color_amber {
    background: #ffc107 !important;
}
.color_amber {
    color: #ffc107 !important;
}
.border_color_amber {
    border-color: #ffc107 !important;
}

.background_color_orange {
    background: #ff9800 !important;
}
.color_orange {
    color: #ff9800 !important;
}
.border_color_orange {
    border-color: #ff9800 !important;
}

.background_color_deeporange {
    background: #ff5722 !important;
}
.color_deeporange {
    color: #ff5722 !important;
}
.border_color_deeporange {
    border-color: #ff5722 !important;
}

.background_color_brown {
    background: #795548 !important;
}
.color_brown {
    color: #795548 !important;
}
.border_color_brown {
    border-color: #795548 !important;
}

.background_color_lightgray {
    background: #fafbfc !important;
}
.color_lightgray {
    color: #fafbfc !important;
}
.border_color_lightgray {
    border-color: #fafbfc !important;
}

.background_color_gray {
    background: #9e9e9e !important;
}
.color_gray {
    color: #9e9e9e !important;
}
.border_color_gray {
    border-color: #9e9e9e !important;
}

.background_color_bluegray {
    background: #607d8b !important;
}
.color_bluegray {
    color: #607d8b !important;
}
.border_color_bluegray {
    border-color: #607d8b !important;
}

.background_color_white {
    background: #ffffff !important;
}
.color_white {
    color: #ffffff !important;
}
.border_color_white {
    border-color: #ffffff !important;
}

.background_color_black {
    background: #000000 !important;
}
.color_black {
    color: #000000 !important;
}
.border_color_black {
    border-color: #000000 !important;
}
