.Col {
    flex: 1 0 auto;
    box-sizing: border-box;
    height: 100%;
}
.padded {
    padding: 10px !important;
}
.padded:first-child {
    padding: 10px 10px 10px 15px !important;
}
.padded:last-child {
    padding: 10px 15px 10px 10px !important;
}

.full_height > * {
    box-sizing: border-box;
    height: 100%;
}

.Col_1 {
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%;
}

.Col_2 {
    flex-basis: 16.6666666666%;
    max-width: 16.6666666666%;
}

.Col_3 {
    flex-basis: 25%;
    max-width: 25%;
}

.Col_4 {
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%;
}

.Col_5 {
    flex-basis: 41.6666666666%;
    max-width: 41.6666666666%;
}

.Col_6 {
    flex-basis: 50%;
    max-width: 50%;
}

.Col_7 {
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%;
}

.Col_8 {
    flex-basis: 66.6666666666%;
    max-width: 66.6666666666%;
}

.Col_9 {
    flex-basis: 75%;
    max-width: 75%;
}

.Col_10 {
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%;
}

.Col_11 {
    flex-basis: 91.6666666666%;
    max-width: 91.6666666666%;
}

.Col_12 {
    flex-basis: 100%;
    max-width: 100%;
}
